/*{
  border: 2px solid red;
}*/

html{
  box-sizing: border-box;
}

body{
  background-color:black;
  margin:0;
  font-family: sans-serif;
  
}

h1{
  display: flex;
  justify-content: center;
  align-items: center;
  color:greenyellow;
  font-weight: bold;
  font-size: 100px; 
  margin: 12px;
  padding: 12px;
  font-family: 'Permanent Marker', cursive;
  
}

form input{
  background-color:gray;
  min-height:50px;
  width: 100px;
  margin: 50px ;
  border-radius: 8px;
  font-family: 'Permanent Marker', cursive;
}
#search{
  background-color: gray;
  width: 900px;
  min-height: 50px;
}

nav{
  display: flex;
  flex-direction:row;
  justify-content:flex-start;
  height: 60px;
  background-color: purple;
}

nav > div{
  font-size: 20px;
  font-weight: bold;
  margin: 10px 10px;
  color: greenyellow;
  font-family: 'Permanent Marker', cursive;
}

#itemContainer{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  margin: 10px;
}

